img {
  width: 100%;
  height: 100%;
}

.clarifon-container {
  width: 106.67px;
  height: 20px;
}

.mcafee-container {
  width: 44px;
  height: 16px;
  margin-right: 16px;
}

.norton-container {
  width: 41px;
  height: 16px;
}

.backrest-container {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (width >= 768px) {
  .mcafee-container {
    width: 88px;
    height: 32px;
  }

  .norton-container {
    width: 82px;
    height: 32px;
  }

  .clarifon-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 36px;
    width: 192px;
  }

  .backrest-container {
    position: relative;
  }
}

@media (width >= 1220px) {
  .clarifon-container {
    position: absolute;
    top: 0;
    left: -15px;
  }

  .backrest-container {
    position: relative;
    padding: 0;
    max-width: 1200px;
    margin: 30px auto 0 auto;
  }
}
