<div
  class="d-flex justify-content-between align-items-center backrest-container"
>
  <div>
    <figure class="clarifon-container">
      <img src="assets/images/clarifon.svg" alt="Clarifon" />
    </figure>
  </div>

  <div class="d-flex">
    <div>
      <figure class="mcafee-container">
        <img
          src="assets/images/mcafee.svg"
          alt="Mcafee"
          class="backrest-item"
        />
      </figure>
    </div>
    <div>
      <figure class="norton-container">
        <img
          src="assets/images/norton.svg"
          alt="Norton"
          class="backrest-item"
        />
      </figure>
    </div>
  </div>
</div>
