.promotion {
  max-width: 340px;
  padding: 0 2px;
  margin: 24px auto 0 auto;
  box-sizing: border-box;
  color: #000000;
  font-size: 24px;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

.promotion span {
  color: #2c7ef8;
}

.article-container {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.article-image-container {
  width: 80px;
  height: 80px;
}

.article-info {
  flex: 1;
  margin-left: 16px;
}

.article-header {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.article-title {
  color: #000000;
  font-size: 14px;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 19.6px;
}

.article-price {
  margin-right: 8px;
  color: #969696;
  font-size: 10px;
  font-family: "Manrope";
  font-weight: 600;
  text-decoration: line-through;
  line-height: 13.66px;
}

.article-price-discount {
  color: #2c7ef8;
  font-size: 14px;
  font-family: "Manrope";
  font-weight: 600;
  line-height: 19.6px;
}

.article-starts {
  padding-top: 10px;
}

.article-starts-container {
  display: flex;
  margin-left: 2px;
  width: 9.93px;
  height: 9.48px;
}

.article-start-img {
  width: 100%;
  height: 100%;
}

.article-stock {
  padding-top: 10px;
}

.article-stock p {
  padding: 0;
  margin: 0;
  margin-left: 26px;
  color: #37465a;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.39px;
}

.article-radio-container {
  padding-top: 3px;
}

.article-promotion-description {
  max-width: 340px;
  margin: 0 auto;
  padding-top: 16px;
  color: #4d5254;
  line-height: 140%;
  font-size: 12px;
  text-align: center;
}

.promotion-img-container {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 24px;
}

.promotion-img-container img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

@media (width >= 500px) {
  .article-promotion-description {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .promotion {
    width: 100%;
    max-width: 600px;
    padding-left: 40px;
    padding-right: 0;
  }

  .promotion-img-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (width >= 768px) {
  .promotion {
    text-align: left;
  }
}

@media (width >= 900px) {
  .article-header {
    padding-top: 0;
    align-items: flex-start;
  }

  .article-title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Manrope";
    line-height: 28px;
  }

  .article-price {
    font-size: 16px;
    font-weight: 600;
    font-family: "Manrope";
    line-height: 21.86px;
  }

  .article-price-discount {
    font-size: 22px;
    font-weight: 600;
    font-family: "Manrope";
    line-height: 30.8px;
  }

  .article-starts {
    padding-top: 15px;
  }

  .article-stock {
    padding-top: 15px;
  }

  .article-starts-container {
    width: 14.89px;
    height: 14.22px;
    margin-right: 3.56px;
  }

  .article-stock p {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 300;
    font-family: Manrope;
    line-height: 21.86px;
  }

  .article-image-container {
    width: 134px;
    height: 134px;
  }

  .article-image-container img {
    width: 100%;
    height: auto;
  }

  .article-promotion-description {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
  }
}

@media (width >= 1268px) {
  .promotion {
    margin: 0;
    font-size: 32px;
  }
  .article-container {
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 0;
  }
}
