<!-- <p class="promotion">
  <span> ONE TIME ONLY</span>
  Special Price For 6 Extra Clarifion For only <span>$14 each</span>
  ($84.00 total!)
</p>
<div class="promotion-img-container d-tablet-none">
  <img src="assets/images/phone-promotion.svg" alt="Phone Promotion" />
</div> -->

<!-- <div class="d-flex">
  <div class="d-tablet-block">
    <img src="assets/images/phone-promotion.svg" alt="Phone Promotion" />
    <app-comment></app-comment>
  </div>
  <div class="article-main-info">
    <p class="promotion">
      <span> ONE TIME ONLY</span>
      Special Price For 6 Extra Clarifion For only <span>$14 each</span>
      ($84.00 total!)
    </p>
    <div class="promotion-img-container d-tablet-none">
      <img src="assets/images/phone-promotion.svg" alt="Phone Promotion" />
    </div>
    <div class="article-container d-flex">
      <figure class="article-image-container">
        <img src="assets/images/phone-blue.svg" alt="phone blue" />
      </figure>

      <div class="article-info">
        <div
          class="article-header d-flex justify-content-between align-items-center"
        >
          <span class="article-title">Clarifion Air Ionizer</span>
          <div class="d-flex align-items-center">
            <span class="article-price">$180</span>
            <span class="article-price-discount">$84</span>
          </div>
        </div>

        <div class="article-starts d-flex">
          <div class="article-starts-container">
            <img
              src="assets/icons/ant-design_star-filled.svg"
              alt="Start Icon"
              class="article-start-img"
            />
          </div>
          <div class="article-starts-container">
            <img
              src="assets/icons/ant-design_star-filled.svg"
              alt="Start Icon"
              class="article-start-img"
            />
          </div>
          <div class="article-starts-container">
            <img
              src="assets/icons/ant-design_star-filled.svg"
              alt="Start Icon"
              class="article-start-img"
            />
          </div>
          <div class="article-starts-container">
            <img
              src="assets/icons/ant-design_star-filled.svg"
              alt="Start Icon"
              class="article-start-img"
            />
          </div>
          <div class="article-starts-container">
            <img
              src="assets/icons/ant-design_star-filled.svg"
              alt="Start Icon"
              class="article-start-img"
            />
          </div>
        </div>

        <div class="article-stock d-flex">
          <div class="article-radio-container">
            <ml-radio></ml-radio>
          </div>
          <p>12 left in Stock</p>
        </div>
        <p class="article-promotion-description d-lg-block">
          Simply plug a Clarifion into any standard outlet and replace bulky,
          expensive air purifiers with a simple.
        </p>
      </div>
    </div>
    <p class="article-promotion-description d-lg-none">
      Simply plug a Clarifion into any standard outlet and replace bulky,
      expensive air purifiers with a simple.
    </p>
    <app-article-features></app-article-features>
    <app-article-payment></app-article-payment>
    <app-guarantee></app-guarantee>
  </div>
</div> -->

<div class="article-main-info">
  <p class="promotion">
    <span> ONE TIME ONLY</span>
    Special Price For 6 Extra Clarifion For only <span>$14 each</span>
    ($84.00 total!)
  </p>
  <div class="promotion-img-container d-xl-none">
    <img src="assets/images/phone-large.svg" alt="Phone Promotion" />
  </div>
  <div class="article-container d-flex">
    <figure class="article-image-container">
      <img src="assets/images/phone-blue.svg" alt="phone blue" />
    </figure>

    <div class="article-info">
      <div class="article-header">
        <span class="article-title">Clarifion Air Ionizer</span>
        <div class="d-flex align-items-center">
          <span class="article-price">$180</span>
          <span class="article-price-discount">$84</span>
        </div>
      </div>

      <div class="article-starts d-flex">
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
      </div>

      <div class="article-stock d-flex">
        <div class="article-radio-container">
          <ml-radio></ml-radio>
        </div>
        <p>12 left in Stock</p>
      </div>
      <p class="article-promotion-description d-lg-block">
        Simply plug a Clarifion into any standard outlet and replace bulky,
        expensive air purifiers with a simple.
      </p>
    </div>
  </div>
  <p class="article-promotion-description d-lg-none">
    Simply plug a Clarifion into any standard outlet and replace bulky,
    expensive air purifiers with a simple.
  </p>
  <app-article-features></app-article-features>
  <app-article-payment></app-article-payment>
  <app-guarantee></app-guarantee>
</div>

<!-- <div>
  <div class="article-container d-flex">
    <figure class="article-image-container">
      <img src="assets/images/phone-blue.svg" alt="phone blue" />
    </figure>

    <div class="article-info">
      <div
        class="article-header d-flex justify-content-between align-items-center"
      >
        <span class="article-title">Clarifion Air Ionizer</span>
        <div class="d-flex align-items-center">
          <span class="article-price">$180</span>
          <span class="article-price-discount">$84</span>
        </div>
      </div>

      <div class="article-starts d-flex">
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
        <div class="article-starts-container">
          <img
            src="assets/icons/ant-design_star-filled.svg"
            alt="Start Icon"
            class="article-start-img"
          />
        </div>
      </div>

      <div class="article-stock d-flex">
        <div class="article-radio-container">
          <ml-radio></ml-radio>
        </div>
        <p>12 left in Stock</p>
      </div>
    </div>
  </div>
  <p class="article-promotion-description">
    Simply plug a Clarifion into any standard outlet and replace bulky,
    expensive air purifiers with a simple.
  </p>
  <app-article-features></app-article-features>
  <app-article-payment></app-article-payment>
  <app-guarantee></app-guarantee>
</div> -->
