<div class="article-characteres">
  <div class="d-flex article-characteres-item">
    <figure class="article-characteres-container-img">
      <img
        src="assets/icons/tick-circle-blue.svg"
        alt="Check Blue"
        class="article-characteres-img"
      />
    </figure>
    <p class="article-description">
      Negative Ion Technology may
      <span> help with allergens </span>
    </p>
  </div>
  <div class="d-flex article-characteres-item">
    <figure class="article-characteres-container-img">
      <img
        src="assets/icons/tick-circle-blue.svg"
        alt="Check Blue"
        class="article-characteres-img"
      />
    </figure>
    <p class="article-description">
      Designed for
      <span> air rejuvenation </span>
    </p>
  </div>
  <div class="d-flex article-characteres-item">
    <figure class="article-characteres-container-img">
      <img
        src="assets/icons/tick-circle-blue.svg"
        alt="Check Blue"
        class="article-characteres-img"
      />
    </figure>
    <p class="article-description">
      <span>Perfect for every room </span>
      in all types of places.
    </p>
  </div>
</div>

<div class="article-discount-info">
  <figure class="article-discount-container-img">
    <img
      class="article-discount-img"
      src="assets/icons/percentage.svg"
      alt="Percentage Icon"
    />
  </figure>
  <p class="article-discount-description">
    Save <span>53%</span> and get <span>6 extra Clarifision</span> for only
    <span> $14 Each. </span>
  </p>
</div>
<app-discount-btn></app-discount-btn>
