<div class="step-container">
  <div class="step-item">
    <div class="step-circle">
      <img src="assets/icons/tick-circle.svg" alt="Check" />
    </div>
    <div class="step-description">
      <span class="d-xl-inline-block"> Step 1 :</span>
      <span> Cart Review </span>
    </div>
  </div>

  <div class="step-item">
    <div class="step-circle">
      <img src="assets/icons/tick-circle.svg" alt="Check" />
    </div>
    <div class="step-description">
      <span class="d-xl-inline-block"> Step 2 :</span>

      <span> Checkout</span>
    </div>
  </div>

  <div class="step-item">
    <div class="step-circle step-circle-active">
      <span>3</span>
    </div>
    <div class="step-description">
      <span class="active d-xl-inline-block"> Step 3 :</span>
      <span class="active"> Special Offer </span>
    </div>
  </div>

  <div class="step-item">
    <div class="step-circle step-circle-next">
      <span>4</span>
    </div>
    <div class="step-description">
      <span class="d-xl-inline-block"> Step 4 :</span>

      <span> Confirmation </span>
    </div>
  </div>
</div>
