.guarantee-container {
  display: flex;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.guarantee-container-img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

.guarantee-description {
  color: #4d5254;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 140%;
}

.guarantee-description span {
  font-weight: 900;
}

@media (width >= 900px) {
  .guarantee-description {
    font-size: 16px;
  }

  .guarantee-container-img {
    width: 60px;
    height: 60px;
  }

  .guarantee-container-img img {
    height: 60px;
    width: 60px;
  }
}

@media (width >= 1268px) {
  .guarantee-container-img {
    width: 80px;
    height: 80px;
  }

  .guarantee-container-img img {
    height: 80px;
    width: 80px;
  }

  .guarantee-container {
    align-items: flex-start;
    padding-top: 32px;
    padding-right: 0;
    padding-left: 40px;
  }
}
