<div class="article-payment">
  <div class="article-encrypt-container">
    <div class="article-encrypt-item">
      <div>
        <span class="article-encrypt-label">Free Shipping</span>
      </div>
    </div>
    <div class="d-flex align-items-center article-encrypt-item">
      <div class="article-lock-container">
        <img src="assets/icons/lock.svg" alt="Lock" class="article-lock" />
      </div>
      <div>
        <span class="article-encrypt-label">Secure 256-bit SSL encryption</span>
      </div>
    </div>
  </div>
  <div class="article-payment-cards d-flex">
    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/visa.svg"
        alt="Visa Icon"
        class="article-payment-cards-img"
      />
    </figure>
    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/shop-pay.svg"
        alt="Shop Pay Icon"
        class="article-payment-cards-img"
      />
    </figure>
    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/paypal.svg"
        alt="Paypal Icon"
        class="article-payment-cards-img"
      />
    </figure>
    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/mastercard.svg"
        alt="Mastercard Icon"
        class="article-payment-cards-img"
      />
    </figure>
    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/gpay.svg"
        alt="Gpay Icon"
        class="article-payment-cards-img"
      />
    </figure>

    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/apple-pay.svg"
        alt="Apple Icon"
        class="article-payment-cards-img"
      />
    </figure>
    <figure class="article-payment-cards-container">
      <img
        src="assets/icons/amex.svg"
        alt="Amex Icon"
        class="article-payment-cards-img"
      />
    </figure>
  </div>
</div>

<p class="article-not-want">NO THANKS, I DON’T WANT THIS.</p>
