<div class="d-flex commet-main-container">
  <div class="avatar">
    <div class="avatar-container-img">
      <img src="assets/images/avatar.svg" alt="Avatar" class="avatar-img" />
    </div>
  </div>

  <div class="info">
    <div class="starts-container d-flex">
      <div class="start-container-icon">
        <img
          src="assets/icons/start-two.svg"
          alt="Start Icon"
          class="start-icon"
        />
      </div>
      <div class="start-container-icon">
        <img
          src="assets/icons/start-two.svg"
          alt="Start Icon"
          class="start-icon"
        />
      </div>
      <div class="start-container-icon">
        <img
          src="assets/icons/start-two.svg"
          alt="Start Icon"
          class="start-icon"
        />
      </div>
      <div class="start-container-icon">
        <img
          src="assets/icons/start-two.svg"
          alt="Start Icon"
          class="start-icon"
        />
      </div>
      <div class="start-container-icon">
        <img
          src="assets/icons/start-two.svg"
          alt="Start Icon"
          class="start-icon"
        />
      </div>
    </div>
    <div class="info-contact d-flex">
      <div>
        <span class="info-name">Ken T.</span>
      </div>
      <div class="verify-container d-flex">
        <div class="verify-icon-container">
          <img
            src="assets/icons/verify-green.svg"
            alt="Verify"
            class="verify-icon"
          />
        </div>
        <div>
          <span class="verify-label">Verified Customer</span>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="comment-container">
  “As soon as the Clarifions arrived I put one in my bedroom. This was late in
  the afternoon. When I went to the bedroom in the evening it smelled clean.
  When I went to bed I felt I could breathe better. Wonderful.”
</p>
