.commet-main-container {
  margin-top: 48px;
}

.avatar-container-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.avatar-img {
  max-width: 100%;
  height: auto;
}

.info {
  margin-left: 13px;
}

.starts-container {
  margin-top: 6px;
}

.start-container-icon:nth-child(1) {
  margin-left: 0;
}

.start-container-icon {
  display: flex;
  margin-left: 4.6px;
}

.start-icon {
  width: 11.95px;
  height: 11.95px;
}

.info-name {
  color: #333333;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.info-contact {
  /* margin-top: 2px; */
  padding-top: 3px;
}

.verify-label {
  color: #5bb59a;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.verify-icon {
  height: 16px;
  width: 16px;
}

.verify-container {
  margin-left: 10px;
}

.verify-icon-container {
  padding-top: 2px;
  margin-right: 10px;
}

.comment-container {
  padding-top: 18px;
  color: #4d5254;
  font-family: "Manrope", sans-serif;
  font-weight: 400;

  font-size: 16px;
  line-height: 24px;
}
